<div id="fastcomments-widget"></div>

<script src="https://cdn.fastcomments.com/js/embed.min.js"></script>
<script>
    window.FastCommentsUI(document.getElementById('fastcomments-widget'), {
        tenantId: 'kdnCBxO7N',
        urlId: '@(Model.String("disqus_identifier") ?? Model.FilePath(Keys.RelativeFilePath).FileNameWithoutExtension.FullPath)',
        url: '@Context.GetLink(Model, true)',
        pageTitle: '@Model.String(BlogKeys.Title)'
    });
</script>
