</div>

<img class="ui masthead responsive image"
  srcset="/assets/images/masthead@0.25x.jpg 648w,
          /assets/images/masthead@0.5x.jpg 1295w,
          /assets/images/masthead@0.75x.jpg 1943w,
          /assets/images/masthead.jpg 2590w"
  sizes="100vw">

<div class="ui container">
@if(Context.String(BlogKeys.Intro) != null)
{                  
    <p class="ui text massive">
      Hi, I'm Kamran Ayub aka Kamranicus. I build modern web apps. I enjoy variety. Lately focused on TypeScript and React. <a href="/about">Get in touch with me!</a>
    </p>
    <p class="ui text massive">
      I blog about <a href="/posts">tech</a> and <a href="https://looksgoodtous.com">DIY</a>, 
      I'm a <a href="/events">speaker</a>,
      I'm a <a href="/training">Pluralsight author</a>,
      I met a monkey on <a href="/travel">my sabbatical</a>,
      I maintain some <a href="https://github.com/kamranayub">open source</a> and 
      I do some <a href="/projects">indie hacking</a>.
    </p>
}

<div class="social links">
  @Html.Partial("_SocialLinks")
</div>
