@{
    Layout = "_Layout.cshtml";
}

@section Header {
    @Html.Partial("_PostHeader.cshtml")
}

<div class="ui huge basic post content segment">
  @RenderBody()
</div>

@Html.Partial("_PostFooter.cshtml")