<a class="ui circular icon button" href="https://twitter.com/kamranayub" title="Twitter">
  <i class="twitter icon"></i>
</a>
<a class="ui circular icon button" href="https://github.com/kamranayub" title="GitHub">
  <i class="github icon"></i>
</a>
<a class="ui circular icon button" href="https://instagram.com/subkamran" title="Instagram">
  <i class="instagram icon"></i>
</a>
<a class="ui circular icon button" href="https://www.youtube.com/channel/UCq6oaAI3ZH2rGlmC9VqJm1g " title="YouTube">
  <i class="youtube icon"></i>
</a>
<a class="ui circular icon button" href="https://twitch.tv/kamranicus " title="YouTube">
  <i class="twitch icon"></i>
</a>
<a class="ui circular icon button" href="https://www.linkedin.com/in/subkamran" title="LinkedIn">
  <i class="linkedin icon"></i>
</a>
