Title: Events
---

<div class="ui basic vertical segment">
  I love giving talks at conferences and user groups on my favorite topics 
  such as TypeScript, open source, and software design. I've spoken at user groups and
  conferences around the Twin Cities since 2013. I also have been ramping up
  workshops in 2018. You can find upcoming and featured past events below.
</div>

<h2 class="ui header">Upcoming</h2>

@*<p>Nothing to announce yet!</p>*@

<div class="ui items">

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/minnewebcon.png" alt="MinneWebCon">
    </div>
    <div class="content">            
      <div class="header">Welcome Bot Overlords! Build an Interactive Bot Using JavaScript, Node and the Cloud</div>
      <div class="meta">Half-Day Workshop, MinneWebCon, April 24, 2018</div>
      <div class="extra">
        <a href="http://minnewebcon.org/sessions/welcome-bot-overlords-build-an-interactive-bot-using-javascript-node-and-the-cloud">
          <i class="travel icon"></i>
          View Workshop Info
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/ndc.jpg" alt="NDC Minnesota">
    </div>
    <div class="content">            
      <div class="header">Building Scalable, Maintainable Apps Using TypeScript and React</div>
      <div class="meta">NDC Minnesota, May 7, 2018</div>
      <div class="extra">
        <a href="https://ndcminnesota.com/">
          <i class="browser icon"></i>
          View Conference
        </a>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/azure.png" alt="MN Azure User Group">
    </div>
    <div class="content">            
      <div class="header">Azure Bots with Node.js</div>
      <div class="meta">Azure User Group, May 2018</div>
      <div class="extra">
        <a href="https://www.meetup.com/Minneapolis-Azure-Cloud-Computing-Meetup/events/kdbbdpyxhbfb/">
          <i class="browser icon"></i>
          View Meetup
        </a>
      </div>
    </div>
  </div>
  
</div>

<h2 class="ui header">Past talks</h2>

<div class="ui items">
  
  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/midwestjs.png" alt="Midwest.js">
    </div>
    <div class="content">            
      <div class="header">Building Scalable, Maintainable Apps Using TypeScript and React</div>
      <div class="meta">Midwest.js, August 2017</div>
      <div class="extra">
        <a href="http://slides.com/kamranayub/mjs-react-ts#/">
          <i class="browser icon"></i>
          View Slides
        </a>
        <a href="https://youtu.be/owcuEwn-pSM">
          <i class="video icon"></i>
          Watch Video
        </a>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/midwestjs.png" alt="Midwest.js">
    </div>
    <div class="content">            
      <div class="header">Demystifing TypeScript</div>
      <div class="meta">Midwest.js, August 2016</div>
      <div class="extra">
        <a href="/presentations/demystifying-typescript">
          <i class="browser icon"></i>
          View Slides
        </a>
        Video pending
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tccc.jpg" alt="Twin Cities Code Camp">
    </div>
    <div class="content">
      <div class="header">TypeScript in Action</div>
      <div class="meta">Twin Cities Code Camp 20, April 2016</div>
      <div class="extra">
        <a href="/presentations/typescript-in-action">
          <i class="browser icon"></i>
          View Slides
        </a>
        <a href="https://www.youtube.com/watch?v=eeh-FcC6Sew">
          <i class="video icon"></i>
          Watch Video
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tccc.jpg" alt="Twin Cities Code Camp">
    </div>
    <div class="content">
      <div class="header">Demystifing TypeScript</div>
      <div class="meta">Twin Cities Code Camp 19, October 2015</div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tccc.jpg" alt="Twin Cities Code Camp">
    </div>
    <div class="content">
      <div class="header">Demystifing TypeScript</div>
      <div class="meta">Twin Cities Code Camp 17, October 2014</div>
      <div class="extra">
        Same slides &amp; content as MDC 2014
      </div>      
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/mdc.jpg" alt="Minnesota Developer Conference">
    </div>
    <div class="content">
      <div class="header">Demystifing TypeScript</div>
      <div class="meta">Minnesota Developer Conference, September 2014</div>
      <div class="extra">
        <a href="https://speakerdeck.com/kamranayub/demystifying-typescript">
          <i class="browser icon"></i>
          View Slides
        </a>
        <a href="https://www.youtube.com/watch?v=gOPR68c9EFY">
          <i class="video icon"></i>
          Watch Video
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tccc.jpg" alt="Twin Cities Code Camp">
    </div>
    <div class="content">
      <div class="header">Leveling Up Your Windows Phone App</div>
      <div class="meta">Twin Cities Code Camp 15, October 2013</div>
      <div class="extra">
        <a href="https://speakerdeck.com/kamranayub/leveling-up-your-windows-phone-app">
          <i class="browser icon"></i>
          View Slides
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/mdc.jpg" alt="MDC">
    </div>
    <div class="content">
      <div class="header">Bending APIs to Your Will Using Windows Phone 8</div>
      <div class="meta">Minnesota Developer Conference, September 2013</div>
      <div class="extra">
        <a href="https://speakerdeck.com/kamranayub/bending-apis-to-your-will-using-windows-phone">
          <i class="browser icon"></i>
          View Slides
        </a>
      </div>
    </div>   
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tccc.jpg" alt="Twin Cities Code Camp">
    </div>
    <div class="content">
      <div class="header">Diving Into the Deep With Web API</div>
      <div class="meta">Twin Cities Code Camp 14, April 2013</div>
      <div class="extra">
        <a href="https://speakerdeck.com/kamranayub/diving-into-the-deep-with-asp-dot-net">
          <i class="browser icon"></i>
          View Slides
        </a>
      </div>
    </div>
  </div>
</div>
