Title: Events
---

<div class="ui basic vertical segment">
  <p>I love giving talks at conferences and user groups on my favorite topics 
  such as TypeScript, open source, and software design. I've spoken at user groups and
  conferences around the Twin Cities since 2013. I also have been ramping up
  workshops in 2018. You can find upcoming and featured past events below.</p>

  <p><a href="https://kamranicus.com/about">Reach out to me</a> if you want me to speak at your conference or meetup!</p>
</div>

<h2 class="ui header">Upcoming</h2>

<div class="ui items">
  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/mdc.jpg" alt="MDC Minnesota">
    </div>
    <div class="content">            
      <div class="header">Managing Complex Data in the UI at Scale, Safely</div>
      <div class="meta">NDC Minnesota, Oct 1, 2019</div>
      <div class="extra">
        <a href="https://mdc.ilmservice.com/">
          <i class="globe icon"></i>
          View Conference
        </a>
      </div>
    </div>
  </div>
</div>

<h2 class="ui header">Past events</h2>

<div class="ui items">

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tcdnug.jpg" alt="Twin Cities .NET User Group">
    </div>
    <div class="content">            
      <div class="header">What's New in RavenDB 4</div>
      <div class="meta">Twin Cities .NET User Group, Jul 11, 2019</div>
      <div class="extra">
        <a href="https://bit.ly/RavenDB4WhatsNew">
          <i class="browser icon"></i>
          View Slides
        </a>
        <a href="https://www.meetup.com/tcdnug/events/kvnwbryzkbgb/">
          <i class="globe icon"></i>
          View Meetup
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/ndc.jpg" alt="NDC Minnesota">
    </div>
    <div class="content">            
      <div class="header">Designing a Flexible UI Architecture with React and GraphQL</div>
      <div class="meta">NDC Minnesota, May 9, 2019</div>
      <div class="extra">
        <a href="https://www.youtube.com/watch?v=mIejhIX7ObE">
          <i class="video icon"></i>
          Watch Talk
        </a>
        <a href="https://ndcminnesota.com/">
          <i class="globe icon"></i>
          View Conference
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/script-style.jpg" alt="Script & Style">
    </div>
    <div class="content">            
      <div class="header">Episode 26: Web Games with ExcaliburJS with Erik Onarheim and Kamran Ayub</div>
      <div class="meta">Script &amp; Style, Oct 25, 2018</div>
      <div class="extra">
        <a href="https://www.youtube.com/watch?v=bqP2O3VHjQ8">
          <i class="video icon"></i>
          Watch Episode
        </a>
      </div>
    </div>
  </div>  

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/mdc2018.png" alt="Minnesota Developer Conference">
    </div>
    <div class="content">
      <div class="header">Building Scalable, Maintainable Apps Using TypeScript and React</div>
      <div class="meta">Minnesota Developer Conference, October 3, 2018</div>
      <div class="extra">
        <a href="http://bit.ly/react-ts-mdc2018">
          <i class="browser icon"></i>
          View Slides
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/azure.png" alt="MN Azure User Group">
    </div>
    <div class="content">            
      <div class="header">Azure Bots with Node.js</div>
      <div class="meta">Azure User Group, September, 2018</div>
      <div class="extra">
        <a href="https://www.meetup.com/Minneapolis-Azure-Cloud-Computing-Meetup/events/dtbmtpyxmbjb/">
          <i class="globe icon"></i>
          View Meetup
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/ndc.jpg" alt="NDC Minnesota">
    </div>
    <div class="content">            
      <div class="header">Building Scalable, Maintainable Apps Using TypeScript and React</div>
      <div class="meta">NDC Minnesota, May 10, 2018</div>
      <div class="extra">
        <a href="https://vimeo.com/271363697">
          <i class="video icon"></i>
          Watch Video
        </a>
        <a href="https://ndcminnesota.com/">
          <i class="globe icon"></i>
          View Conference
        </a>
      </div>
    </div>
  </div>  

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/dotnetrocks.jpg" alt=".NET Rocks">
    </div>
    <div class="content">            
      <div class="header">RavenDB V4 with Kamran Ayub</div>
      <div class="meta">Podcast, May 1, 2018</div>
      <div class="extra">
        <a href="https://dotnetrocks.com?show=1541">
          <i class="headphones icon"></i>
          Listen to Episode
        </a>
      </div>
    </div>
  </div>  

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/minnewebcon.png" alt="MinneWebCon">
    </div>
    <div class="content">            
      <div class="header">Welcome Bot Overlords! Build an Interactive Bot Using JavaScript, Node and the Cloud</div>
      <div class="meta">Half-Day Workshop, MinneWebCon, April 24, 2018</div>
      <div class="extra">
        <a href="http://minnewebcon.org/sessions/welcome-bot-overlords-build-an-interactive-bot-using-javascript-node-and-the-cloud">
          <i class="travel icon"></i>
          View Workshop Info
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/ndc.jpg" alt="NDC Micro">
    </div>
    <div class="content">            
      <div class="header">Demystifying TypeScript (Micro)</div>
      <div class="meta">NDC Micro (MN), March 29, 2018</div>
      <div class="extra">
        <a href="https://ndcminnesota.com/page/ndc-micro/">
          <i class="globe icon"></i>
          View Conference
        </a>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/midwestjs.png" alt="Midwest.js">
    </div>
    <div class="content">            
      <div class="header">Building Scalable, Maintainable Apps Using TypeScript and React</div>
      <div class="meta">Midwest.js, August 2017</div>
      <div class="extra">
        <a href="http://slides.com/kamranayub/mjs-react-ts#/">
          <i class="browser icon"></i>
          View Slides
        </a>
        <a href="https://youtu.be/owcuEwn-pSM">
          <i class="video icon"></i>
          Watch Video
        </a>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/midwestjs.png" alt="Midwest.js">
    </div>
    <div class="content">            
      <div class="header">Demystifing TypeScript</div>
      <div class="meta">Midwest.js, August 2016</div>
      <div class="extra">
        <a href="/presentations/demystifying-typescript">
          <i class="browser icon"></i>
          View Slides
        </a>
        Video pending
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tccc.jpg" alt="Twin Cities Code Camp">
    </div>
    <div class="content">
      <div class="header">TypeScript in Action</div>
      <div class="meta">Twin Cities Code Camp 20, April 2016</div>
      <div class="extra">
        <a href="/presentations/typescript-in-action">
          <i class="browser icon"></i>
          View Slides
        </a>
        <a href="https://www.youtube.com/watch?v=eeh-FcC6Sew">
          <i class="video icon"></i>
          Watch Video
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tccc.jpg" alt="Twin Cities Code Camp">
    </div>
    <div class="content">
      <div class="header">Demystifing TypeScript</div>
      <div class="meta">Twin Cities Code Camp 19, October 2015</div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tccc.jpg" alt="Twin Cities Code Camp">
    </div>
    <div class="content">
      <div class="header">Demystifing TypeScript</div>
      <div class="meta">Twin Cities Code Camp 17, October 2014</div>
      <div class="extra">
        Same slides &amp; content as MDC 2014
      </div>      
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/mdc.jpg" alt="Minnesota Developer Conference">
    </div>
    <div class="content">
      <div class="header">Demystifing TypeScript</div>
      <div class="meta">Minnesota Developer Conference, September 2014</div>
      <div class="extra">
        <a href="https://speakerdeck.com/kamranayub/demystifying-typescript">
          <i class="browser icon"></i>
          View Slides
        </a>
        <a href="https://www.youtube.com/watch?v=gOPR68c9EFY">
          <i class="video icon"></i>
          Watch Video
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tccc.jpg" alt="Twin Cities Code Camp">
    </div>
    <div class="content">
      <div class="header">Leveling Up Your Windows Phone App</div>
      <div class="meta">Twin Cities Code Camp 15, October 2013</div>
      <div class="extra">
        <a href="https://speakerdeck.com/kamranayub/leveling-up-your-windows-phone-app">
          <i class="browser icon"></i>
          View Slides
        </a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/mdc.jpg" alt="MDC">
    </div>
    <div class="content">
      <div class="header">Bending APIs to Your Will Using Windows Phone 8</div>
      <div class="meta">Minnesota Developer Conference, September 2013</div>
      <div class="extra">
        <a href="https://speakerdeck.com/kamranayub/bending-apis-to-your-will-using-windows-phone">
          <i class="browser icon"></i>
          View Slides
        </a>
      </div>
    </div>   
  </div>

  <div class="item">
    <div class="image">
      <img src="/assets/images/talks/tccc.jpg" alt="Twin Cities Code Camp">
    </div>
    <div class="content">
      <div class="header">Diving Into the Deep With Web API</div>
      <div class="meta">Twin Cities Code Camp 14, April 2013</div>
      <div class="extra">
        <a href="https://speakerdeck.com/kamranayub/diving-into-the-deep-with-asp-dot-net">
          <i class="browser icon"></i>
          View Slides
        </a>
      </div>
    </div>
  </div>
</div>
