Title: Guides
---

@foreach (var doc in Documents["Guides"]) {
  <h2><a href="@Context.GetLink(doc)">@doc.WithoutSettings.String(BlogKeys.Title)</a></h2>

  @if (@doc.String(BlogKeys.Lead) != null) {
    <p>@doc.String(BlogKeys.Lead)</p>
  }
}

<h1>Pluralsight Guides</h1>

<h2><a href="https://pluralsight.pxf.io/3Y65d">Getting Started with React and TypeScript</a></h2>

<p>Get started with React and TypeScript using create-react-app or from scratch with Webpack and Parcel</p>

<h2><a href="https://pluralsight.pxf.io/b7An9">How to Statically Type React Components with TypeScript</a></h2>

<p>Learn how to annotate React components, props, state, and events with TypeScript</p>

<h2><a href="https://pluralsight.pxf.io/x5PN5">Composing React Components with TypeScript</a></h2>

<p>Learn how to compose React components using common patterns like specialization, higher-order components (HOCs), and render props</p>

<h2><a href="https://pluralsight.pxf.io/7VVBV">How to Test React Components with TypeScript</a></h2>

<p>Learn how to configure Jest and React Testing Library with TypeScript to test React components in a simple, idiomatic way.</p>