Title: Projects
---

<div class="ui stackable sixteen column grid container">
  <div class="ten wide column">
    <div class="ui items">

      <div class="item">
        <div class="content">
          <a class="header" href="http://ktomg.com">Keep Track of My Games</a>

          <div class="description">
            <a href="http://ktomg.com">KTOMG</a> is a non-commercial app that lets you 
            manage your game collection and track new releases. I run, host, and manage it by myself. 
            It's developed in .NET, hosted in a hybrid IaaS/PaaS environment in Azure and runs on the 
            RavenDB document database.
          </div>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <a class="header" href="http://excaliburjs.com">Excalibur.js</a>

          <div class="description">
            <a href="http://excaliburjs.com">Excalibur</a> is an open source HTML5 game engine written in TypeScript.
            I participate as one of the core contributors and contribute to CI/CD automation, API design, 
            documentation, examples, and other engine features (except physics, that's 
            <a href="http://erikonarheim.com">Erik's</a> specialty).
          </div>
        </div>
      </div>
    </div>
  
    <div class="ui section horizontal divider">Games</div>

    <div class="ui cards">
      <div class="card">
          <div class="image">
            <img src="/assets/images/projects/minotaur.png" alt="Crypt of the Minotaur" title="Crypt of the Minotaur" />
          </div>
          <div class="content">
            <h3 class="header">Crypt of the Minotaur</h3>

            <p class="description">This game was created for Ludum Dare 33. Play as the Minotaur to defend your treasure!</p>            
          </div>
          <div class="extra content">
              <a href="http://excaliburjs.com/ludum-33/">Demo</a> 
              
                <span class="right floated">                  
                  <a href="https://github.com/excaliburjs/ludum-33"><i class="code icon"></i> Code</a>
                </span>
              
            </div>
        </div>
            
        <div class="card">
          <div class="image">
            <img src="/assets/images/projects/sweepstacks.png" alt="Sweep Stacks" title="Sweep Stacks" />
          </div>
          <div class="content">
            <h3 class="header">Sweep Stacks</h3>

            <p class="description">This game was created for Ludum Dare 31. Sweep across the screen to clear blocks!</p>            
          </div>
          <div class="extra content">
              <a href="http://excaliburjs.com/sweep/">Demo</a> 
              
                <span class="right floated">                  
                  <a href="https://github.com/excaliburjs/sweep"><i class="code icon"></i> Code</a>
                </span>
              
            </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="/assets/images/projects/kraken.png" alt="Kraken Unchained" title="Kraken Unchained" />
          </div>
          <div class="content">
            <h3 class="header">Kraken Unchained</h3>

            <p class="description">This game was created for Ludum Dare 29. Play as a Kraken and destroy ships!</p>            
          </div>
          <div class="extra content">
              <a href="http://krakenunchained.azurewebsites.net">Demo</a> 
              
                <span class="right floated">                  
                  <a href="https://github.com/excaliburjs/Ludum-29"><i class="code icon"></i> Code</a>
                </span>
              
            </div>
        </div>            
    </div>

  </div>

  <div class="six wide column">

    <h3 class="ui header">Courses</h3>

    <div class="ui spaced list">
      <a class="item" href="https://www.packtpub.com/application-development/introduction-typescript-video">Introduction to TypeScript</a>
    </div>

    <h3 class="ui header">Open Source</h3>

    <div class="ui spaced list">
      <a class="item" href="http://github.com/kamranayub/GiantBomb-CSharp">GiantBomb C# SDK</a>
      <a class="item" href="http://github.com/kamranayub/underscore-ko">Underscore KO</a>
    </div>

    <a class="ui small compact icon right labeled button" href="https://github.com/kamranayub">
      View GitHub repositories
      <i class="right github icon"></i>
    </a>
  </div>
</div>