Title: Projects
---

<div class="ui stackable sixteen column grid container">  

  <div class="ten wide column">

    <h3 class="ui header">Courses</h3>

    <a href="https://app.pluralsight.com/profile/author/kamran-ayub"><img src="/assets/images/pluralsight.jpg" alt="Pluralsight" title="View my Pluralsight author profile"></a>

    <div class="ui two cards">
      <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/learnravendb4">RavenDB 4: Getting Started</a>
          <div class="meta">Feb 6, 2018 &bull; Pluralsight</div>
          <p class="description">RavenDB enables you to build scalable, high-performance NoSQL applications. This course will cover the basics of RavenDB, including what features it offers, usage with .NET, querying & indexing, and management using the powerful Studio interface.</p>
        </div>
        <div class="extra content">
          2 hours
        </div>
      </div>

      <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/introts">Introduction to TypeScript</a>
          <div class="meta">Jan 31, 2017 &bull; Packt</div>
          <p class="description">This course will guide you from a beginner’s level knowledge in JavaScript to being able to successfully start creating applications in TypeScript. You’ll learn why TypeScript’s tooling gives it a heavy advantage over other languages and see how JavaScript works underneath.</p>
        </div>
        <div class="extra content">
          8 hours
        </div>
      </div>
      
    </div>    
  </div>

  <div class="six wide column">
      <h3 class="ui header">Open Source</h3>

      <div class="ui spaced list">
        <a class="item" href="http://github.com/kamranayub/GiantBomb-CSharp">GiantBomb C# SDK</a>
        <a class="item" href="http://github.com/kamranayub/UnderscoreKO">Underscore KO</a>
      </div>

      <a class="ui small compact icon right labeled button" href="https://github.com/kamranayub">
        View GitHub repositories
        <i class="right github icon"></i>
      </a>
  </div>

  <div class="sixteen wide column">

    <div class="ui section horizontal divider">Projects</div>

    <div class="ui three cards">

      <div class="card">
        <div class="image">
          <img src="/assets/images/projects/ktomg.png" alt="Keep Track of My Games logo" title="Keep Track of My Games">
        </div>
        <div class="content">                  
          <a class="header" href="http://ktomg.com">Keep Track of My Games</a>
          <div class="meta">Web App, Non-Commercial</div>

          <div class="description">
            <a href="http://ktomg.com">KTOMG</a> is a non-commercial app that lets you 
            manage your game collection and track new releases. I run, host, and manage it by myself. 
            It's developed in .NET, hosted in a hybrid IaaS/PaaS environment in Azure and runs on the 
            RavenDB document database.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/images/projects/excaliburjs.png" alt="Excalibur.js logo" title="Excalibur.js">
        </div>
        <div class="content">
          <a class="header" href="http://excaliburjs.com">Excalibur.js</a>
          <div class="meta">Game Engine, Open Source</div>

          <div class="description">
            <a href="http://excaliburjs.com">Excalibur</a> is an open source HTML5 game engine written in TypeScript.
            I participate as one of the core contributors and contribute to CI/CD automation, API design, 
            documentation, examples, and other engine features (except physics, that's 
            <a href="http://erikonarheim.com">Erik's</a> specialty).
          </div>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/images/projects/bowling-calculator.png" alt="Bowling Calculator" title="Bowling Calculator">
        </div>
        <div class="content">
          <h3 class="header">Bowling Calculator</h3>
          <div class="meta">Windows Phone App, Open Source</div>

          <div class="description">
            Bowling Calculator is a free Windows Phone app that helps you calculate scores during a bowling game. I developed it as an open source project to showcase
            localization (English/French) and MVVM patterns for Windows Phone apps.
          </div>          
        </div>

        <div class="extra content">
            <i class="code icon"></i>
            <a href="https://github.com/kamranayub/wp-bowling">Code</a>
          </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/images/projects/centwise.png" alt="Centwise" title="Centwise">
        </div>
        <div class="content">
          <h3 class="header">Centwise</h3>
          <div class="meta">Retired &bull; Windows Phone App</div>

          <div class="description">
            Centwise was a <a href="https://splitwise.com">Splitwise</a> client for Windows Phone. It was written
            in XAML and C# as a native app. I maintained it for several years as a paid app, then switched to free, and finally retired it after adoption was too low to make it worth supporting the new API versions.
          </div>
        </div>
      </div>
    </div>
  
    <div class="ui section horizontal divider">Games</div>

    <div class="ui three cards">
    
      <div class="card">
        <div class="image">
          <img src="/assets/images/projects/groceries.png" alt="I Just Wanted Groceries" title="I Just Wanted Groceries" />
        </div>
        <div class="content">
          <h3 class="header">I Just Wanted Groceries</h3>
          <div class="meta">
            <a href="http://blog.excaliburjs.com/post/161334104662/ludum-dare-38-postmortem">Read post-mortem</a>
          </div>
          <p class="description">This game was created for Ludum Dare 38. Avoid talking to strangers and complete your shopping list!</p>            
        </div>
        <div class="extra content">
          <a href="http://excaliburjs.com/ludum-38">Demo</a> 
          
            <span class="right floated">                  
              <a href="https://github.com/excaliburjs/ludum-38"><i class="code icon"></i> Code</a>
            </span>
            
        </div>
      </div>                                                          
                                                                
      <div class="card">
        <div class="image">
          <img src="/assets/images/projects/hexshaper.png" alt="Hexshaper" title="Hexshaper" />
        </div>
        <div class="content">
          <h3 class="header">Hexshaper</h3>
          <div class="meta">
            <a href="/posts/2016-04-21-ludum-dare-35-game-jam">Read post-mortem</a>
          </div>
          <p class="description">This game was created for Ludum Dare 35. Fly around and absorb energy from your enemies to close the portals!</p>            
        </div>
        <div class="extra content">
          <a href="http://excaliburjs.com/ludum-35">Demo</a> 
          
            <span class="right floated">                  
              <a href="https://github.com/excaliburjs/ludum-35"><i class="code icon"></i> Code</a>
            </span>
            
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/images/projects/minotaur.png" alt="Crypt of the Minotaur" title="Crypt of the Minotaur" />
        </div>
        <div class="content">
          <h3 class="header">Crypt of the Minotaur</h3>

          <p class="description">This game was created for Ludum Dare 33. Play as the Minotaur to defend your treasure!</p>            
        </div>
        <div class="extra content">
          <a href="http://excaliburjs.com/ludum-33/">Demo</a> 
          
            <span class="right floated">                  
              <a href="https://github.com/excaliburjs/ludum-33"><i class="code icon"></i> Code</a>
            </span>
            
        </div>
      </div>
          
      <div class="card">
        <div class="image">
          <img src="/assets/images/projects/sweepstacks.png" alt="Sweep Stacks" title="Sweep Stacks" />
        </div>
        <div class="content">
          <h3 class="header">Sweep Stacks</h3>

          <p class="description">This game was created for Ludum Dare 31. Sweep across the screen to clear blocks!</p>            
        </div>
        <div class="extra content">
          <a href="http://excaliburjs.com/sweep/">Demo</a> 
          
            <span class="right floated">                  
              <a href="https://github.com/excaliburjs/sweep"><i class="code icon"></i> Code</a>
            </span>
            
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/images/projects/kraken.png" alt="Kraken Unchained" title="Kraken Unchained" />
        </div>
        <div class="content">
          <h3 class="header">Kraken Unchained</h3>
          <div class="meta"><a href="/posts/2014-05-01-ludum-dare-29-game-jam-success">Read post-mortem</a></div>
          <p class="description">This game was created for Ludum Dare 29. Play as a Kraken and destroy ships!</p>            
        </div>
        <div class="extra content">
          <a href="http://krakenunchained.azurewebsites.net">Demo</a> 
          
          <span class="right floated">                  
            <a href="https://github.com/excaliburjs/Ludum-29"><i class="code icon"></i> Code</a>
          </span>
            
        </div>
      </div>            
    </div>

  </div>
</div>
