Title: Training
---

<div class="ui stackable sixteen column grid container">  

  <div class="ten wide column">

    <h3 class="ui header">Courses</h3>

    <a href="https://pluralsight.pxf.io/c/1210289/424552/7490?u=https%3A%2F%2Fapp.pluralsight.com%2Fprofile%2Fauthor%2Fkamran-ayub"><img src="/assets/images/pluralsight.jpg" alt="Pluralsight" title="View my Pluralsight author profile"></a>

    <div class="ui two cards">
      <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/PSAzureStorageCDN">Microsoft Azure Developer: Implementing CDNs with Storage</a>
          <div class="meta">Oct 2018 &bull; Pluralsight</div>
          <p class="description">Azure course covering advanced topics with implementing Azure CDN with Azure Storage accounts.</p>
        </div>
        <div class="extra content">
          1.5 hours
        </div>
      </div>
      
       <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/PSAzureStorageCORS">Microsoft Azure Developer: Configure CORS Access with Storage</a>
          <div class="meta">Oct 2018 &bull; Pluralsight</div>
          <p class="description">Azure course covering advanced topics with configuring CORS with Azure Storage accounts.</p>
        </div>
        <div class="extra content">
          1 hour
        </div>
      </div>
      
      <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/PSRavenDB4">RavenDB 4: Getting Started</a>
          <div class="meta">Feb 6, 2018 &bull; Pluralsight</div>
          <p class="description">RavenDB enables you to build scalable, high-performance NoSQL applications. This course will cover the basics of RavenDB, including what features it offers, usage with .NET, querying & indexing, and management using the powerful Studio interface.</p>
        </div>
        <div class="extra content">
          2 hours
        </div>
      </div>

      <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/introts">Introduction to TypeScript</a>
          <div class="meta">Jan 31, 2017 &bull; Packt</div>
          <p class="description">This course will guide you from a beginner’s level knowledge in JavaScript to being able to successfully start creating applications in TypeScript. You’ll learn why TypeScript’s tooling gives it a heavy advantage over other languages and see how JavaScript works underneath.</p>
        </div>
        <div class="extra content">
          8 hours
        </div>
      </div>
      
    </div>    
  </div>

  <div class="six wide column">
      <h3 class="ui header">Recent Talks</h3>

      <div class="ui spaced list">
        <a class="item" href="https://www.youtube.com/watch?v=mIejhIX7ObE">Designing a Flexible UI Architecture with React &amp; GraphQL</a>
        <a class="item" href="https://vimeo.com/271363697">Buidling Scalabe, Maintainable Apps Using TypeScript and React</a>
        <a class="item" href="https://www.youtube.com/watch?v=eeh-FcC6Sew">TypeScript in Action</a>
        <a class="item" href="https://www.youtube.com/watch?v=gOPR68c9EFY">Demystifying TypeScript</a>
      </div>

      <a class="ui small compact icon right labeled button" href="https://www.youtube.com/playlist?list=PLmmRwaXW1nVTi2uv1vpy9B7pvI0X-vMc4">
        View all my talks
        <i class="right youtube icon"></i>
      </a>
  </div>

</div>
