Title: Training
---
<p><a href="http://bit.ly/KamranOnPluralsight"><img src="/assets/images/pluralsight.png" alt="Pluralsight" title="View my Pluralsight author profile"></a></p>

<div class="ui stackable sixteen column grid container">  

  <div class="ten wide column">

    <h3 class="ui header">Courses</h3>

    <div class="ui two cards">
      <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/PSPWATesting">Testing Progressive Web Apps</a>
          <div class="meta">Aug 2020 &bull; Pluralsight</div>
          <p class="description">Learn how to effectively test PWA capabilities like responsive design, service workers, offline support, add-to-homescreen, and permissions both on your local machine and using cloud-testing tools.</p>
        </div>
        <div class="extra content">
          1h38m
        </div>
      </div>
      
      <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/PSContributingToOpenSource">Contributing to an Open Source Project on GitHub</a>
          <div class="meta">Jan 2020 &bull; Pluralsight</div>
          <p class="description">Become an effective open source contributor on GitHub by learning how to find projects to contribute to, work well with others, and master common GitHub workflows</p>
        </div>
        <div class="extra content">
          1h45m
        </div>
      </div>

      <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/PSAzureStorageCDN">Microsoft Azure Developer: Implementing CDNs with Storage</a>
          <div class="meta">Oct 2018 &bull; Pluralsight</div>
          <p class="description">Azure course covering advanced topics with implementing Azure CDN with Azure Storage accounts.</p>
        </div>
        <div class="extra content">
          1h30m
        </div>
      </div>
      
       <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/PSAzureStorageCORS">Microsoft Azure Developer: Configure CORS Access with Storage</a>
          <div class="meta">Oct 2018 &bull; Pluralsight</div>
          <p class="description">Azure course covering advanced topics with configuring CORS with Azure Storage accounts.</p>
        </div>
        <div class="extra content">
          1h
        </div>
      </div>
      
      <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/PSRavenDB4">RavenDB 4: Getting Started</a>
          <div class="meta">Feb 6, 2018 &bull; Pluralsight</div>
          <p class="description">RavenDB enables you to build scalable, high-performance NoSQL applications. This course will cover the basics of RavenDB, including what features it offers, usage with .NET, querying & indexing, and management using the powerful Studio interface.</p>
        </div>
        <div class="extra content">
          2h
        </div>
      </div>

      <div class="card">
        <div class="content">
          <a class="header" href="http://bit.ly/introts">Introduction to TypeScript</a>
          <div class="meta">Jan 31, 2017 &bull; Packt</div>
          <p class="description">This course will guide you from a beginner’s level knowledge in JavaScript to being able to successfully start creating applications in TypeScript. You’ll learn why TypeScript’s tooling gives it a heavy advantage over other languages and see how JavaScript works underneath.</p>
        </div>
        <div class="extra content">
          8h
        </div>
      </div>
      
    </div>    
  </div>

  <div class="six wide column">
      <h3 class="ui header">Workshops</h3>

      <div class="ui spaced list">
        <a class="item" href="http://minnewebcon.org/sessions/welcome-bot-overlords-build-an-interactive-bot-using-javascript-node-and-the-cloud">Azure Node Bots</a>
      </div>

      <h3 class="ui header">Recent Talks</h3>

      <div class="ui spaced list">
        <a class="item" href="https://www.youtube.com/watch?v=mIejhIX7ObE">Designing a Flexible UI Architecture with React &amp; GraphQL</a>
        <a class="item" href="https://vimeo.com/271363697">Building Scalabe, Maintainable Apps Using TypeScript and React</a>
        <a class="item" href="https://www.youtube.com/watch?v=eeh-FcC6Sew">TypeScript in Action</a>
        <a class="item" href="https://www.youtube.com/watch?v=gOPR68c9EFY">Demystifying TypeScript</a>
      </div>

      <a class="ui small compact icon right labeled button" href="https://www.youtube.com/playlist?list=PLmmRwaXW1nVTi2uv1vpy9B7pvI0X-vMc4">
        View all my talks
        <i class="right youtube icon"></i>
      </a>
  </div>

</div>
