// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

ul {
  list-style: circle inside;
}

.article-list .row img {
	max-width: 100%;
}

.full-single-article ol, .article-list .row ol {
  list-style-type: decimal;
  margin-left: 1em;
  font-size: 20px;
  line-height: 1.5;
}

.fill-single-article p em {
  font-style: italic;
}
